<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdk.accounting.liad.com.liadsdk">

    <application android:name=".LiadSDKApplication">
        <activity android:name=".NavigatorActivity" />

        <receiver
            android:name=".NavigatorActivity$InstallationReciver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter></receiver>
    </application>

</manifest>